$primary: #35434E;
$secondary: #5B656E;
$black: #000;
$danger: #BEB29A;
$warning: #EADEB4;
$off-white: #FFFAE7;

%button {
  background: #3498db;
  color: #f6f6f6!important;
  text-shadow: 0 1px 0 #3498db;
  box-shadow: 0 .25em 0 0 #2077b2;
  border-radius: 5px;
  padding: 10px;
}
