<!DOCTYPE html>
<html>
    <head>
      {% if site.env == 'development' %}
      <link rel="stylesheet" href="{{site.baseurl}}/themes/{{site.theme}}/styles/main.css">
      <link rel="stylesheet" href="{{site.baseurl}}/themes/{{site.theme}}/styles/syntax.css">
      {% else %}
      <!-- smoosh -->
      <link rel="stylesheet" href="../build/app.min.css">
      <!-- endsmoosh -->
      {% endif %}
      <link href="{{site.baseurl}}/feed.xml" rel="alternate" title="{{site.title}} feed" type="application/atom+xml" />
      <meta name="MobileOptimized" content="width">
      <meta name="HandheldFriendly" content="true">
      <meta name="viewport" content="width=device-width">
      <meta name="viewport" content="initial-scale=1">
      <meta http-equiv="cleartype" content="on">
      <title>{{site.title}}</title>
    </head>
    <body>
      <header>
        <h1 class="site-title">
            <a href="{{site.baseurl}}/">
                <svg class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"><g id="icomoon-ignore"></g><path d="M12 0l-12 16h12l-8 16 28-20h-16l12-12z" fill="#000000"></path></svg>
                {{site.title}}
            </a>
        </h1>
      </header>
      <div id="content"></div>
      {{content}}
      {% if site.env == 'development' %}
        <script src="/js/lib/mithril.js"></script>
        <script src="/js/src/app.js"></script>
      {% else %}
        <!-- smoosh -->
        <script src="../../../build/app.min.js"></script>
        <!-- endsmoosh -->
      {% endif %}
      <footer class="footer">
        <a href="{{site.baseurl}}/feed.xml">RSS</a>. Powered by <a href="https://eiriksm.github.io/kyll-thrill/">Kyll-thrill</a> created by <a href="https://twitter.com/orkj">eiriksm</a>. <a href="https://github.com/eiriksm/kyll-thrill">Source code</a>.
      </footer>
    </body>
</html>
