/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

html, body {
  min-height: 100%; }

img {
  max-width: 100%; }

body {
  background-color: #FFF;
  font: 23px Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

li {
  margin: 5px 30px; }

blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 2px solid #35434E; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

.highlight {
  background: #ddd;
  padding: 5px; }

#content {
  padding: 1% 0;
  z-index: 1;
  background: #fff;
  margin-top: 120px;
  margin-bottom: 120px; }

.content {
  width: 98%;
  margin: 0 1%;
  margin: 0 auto;
  max-width: 1024px; }

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
  border-bottom: 1px #5B656E solid; }

.post {
  padding: 1%;
  margin: 2%;
  border-radius: 5px; }
  .post :hover .readmore {
    color: #000; }
  .post :hover span.title {
    border-bottom: 1px solid #BEB29A; }
  .post span.title {
    border-bottom: 1px solid #FFFAE7;
    font-weight: 200;
    font-size: 1.3em;
    line-height: 1.4em; }

.date {
  color: #5B656E;
  font-size: .8em; }

.readmore, span.title {
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }

.postlink {
  display: block;
  border: none;
  color: #000;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #35434E;
  height: 50px;
  padding: 20px 0;
  z-index: -1;
  color: #FFFAE7; }
  footer.footer a {
    color: #FFFAE7; }

header {
  text-align: center;
  height: 3em;
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden; }

.site-title {
  z-index: -1;
  position: absolute;
  width: 100%;
  background: #5B656E;
  height: 160px;
  padding: 3% 0; }

h1.post-title {
  color: #000;
  font-weight: 200;
  font-size: 3.2em;
  text-align: center;
  border-bottom: 1px solid #EADEB4;
  margin-bottom: 0;
  line-height: 1.4em; }

h2 {
  font-weight: 200; }

svg.logo path {
  fill: #35434E; }

.date.updated {
  display: block;
  padding: 1em 0; }

h1.site-title a {
  color: #35434E;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  height: 160px;
  color: #FFFAE7;
  font-weight: lighter;
  text-shadow: 0 0 3px #000; }
  h1.site-title a:hover {
    text-shadow: none;
    color: #000; }
