
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

img {
  max-width: 100%; }

body {
  background-color: #FFF;
  font: 18px Helvetica, Arial, sans-serif;
  color: #111; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

.highlight {
  background: #ddd;
  padding: 5px; }

#content {
  padding: 3% 0; }

.content {
  width: 98%;
  margin: 0 1%;
  margin: 0 auto; }

a:active, a:visited, a {
  text-decoration: none;
  color: #374751;
  border-bottom: 1px #7FDBFF solid; }

.post {
  padding: 1%;
  margin: 2%;
  transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  border-radius: 5px; }
  .post:hover {
    background-color: #e5f8ff; }

.date {
  color: #607c8e;
  font-size: 0.8rem; }

.postlink {
  display: block;
  border: none;
  color: #374751; }

footer {
  margin: 3% 1%;
  padding: 1% 5%;
  text-align: center; }

header {
  text-align: center; }

h1.site-title a {
  color: #0084D9;
  -webkit-transition: font-size 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  height: 160px; }
  h1.site-title a:hover {
    color: #374751; }
