
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

html, body {
  min-height: 100%; }

img {
  max-width: 100%; }

body {
  background-color: #FFF;
  font: 18px Helvetica, Arial, sans-serif;
  color: #111; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

.highlight {
  background: #ddd;
  padding: 5px; }

#content {
  padding: 1% 0;
  z-index: 1;
  background: #fff;
  margin-top: 120px;
  margin-bottom: 120px; }

.content {
  width: 98%;
  margin: 0 1%;
  margin: 0 auto; }

a, a:active, a:visited {
  text-decoration: none;
  color: #2A2C2B;
  border-bottom: 1px #1F8A70 solid; }

.post {
  padding: 1%;
  margin: 2%;
  border-radius: 5px; }
  .post :hover .readmore {
    color: #2A2C2B; }
  .post :hover span.title {
    border-bottom: 1px solid #FD7400; }
  .post span.title {
    border-bottom: 1px solid #FFFAE7; }

.date {
  color: #1F8A70;
  font-size: 0.8rem; }

.readmore {
  color: #FD7400;
  padding-right: 10px; }

.readmore, span.title {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.postlink {
  display: block;
  border: none;
  color: #2A2C2B;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #004358;
  height: 50px;
  padding: 20px 0;
  z-index: -1;
  color: #FFFAE7; }
  footer.footer a {
    color: #FFFAE7; }

header {
  text-align: center;
  height: 3em;
  z-index: -2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden; }

.site-title {
  z-index: -1;
  position: absolute;
  width: 100%;
  background: #1F8A70;
  height: 160px;
  padding: 3% 0; }

h1.post-title {
  color: #2A2C2B;
  font-weight: 200;
  font-size: 3.2em;
  text-align: center;
  border-bottom: 1px solid #BEDB39;
  margin-bottom: 0; }

.date.updated {
  display: block;
  padding: 1em 0; }

h1.site-title a {
  color: #004358;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  height: 160px;
  border-bottom: #BEDB39 solid 1px;
  text-transform: uppercase;
  color: #FFFAE7;
  font-weight: lighter;
  text-shadow: 0 0 3px #2A2C2B; }
  h1.site-title a:hover {
    text-shadow: none;
    color: #2A2C2B; }
