<h1 class="post-title">{{page.title}}</h1>
<span class="date updated">Posted <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></span>
{{content}}
<script>
  var baseUrl = "{{site.baseurl}}";
</script>
{% if site.env == 'development' %}
  <script src="{{site.baseurl}}/js/posts.js"></script>
{% else %}
  <script>function init(e){"undefined"==typeof e.c&&(e&&e.localStorage&&e.localStorage.setItem("redirect",e.location.pathname),("undefined"==typeof e.baseUrl||""===e.baseUrl)&&(e.baseUrl="/"),e.location.href=e.baseUrl)}init(window);</script>
{% endif %}
{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}
