/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
img {
  max-width: 100%;
}

body {
  background-color: #FFF;
  font: 18px Helvetica, Arial, sans-serif;
  color: #111;
}

h1 {
  margin-bottom: 1em;
}
p {
  margin: 1em 0;
}
.highlight {
  background: #ddd;
  padding: 5px;
}
#content {
  padding: 3% 0;
}
.content {
  width: 98%;
  margin: 0 1%;
  margin: 0 auto;
}
a:active,
a:visited,
a {
  text-decoration: none;
  color: #111;
  border-bottom: 1px #7FDBFF solid;
}
.postlink {
  padding: 5%;
  display: block;
  background: #ddd;
  margin: 2px;
  border: none;
}
.postlink:hover {
  background-color: #7FDBFF;
  transition: background-color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out;
}
footer {
  margin: 3% 1%;
  padding: 1% 5%;
  text-align: center;
}
header {
  text-align: center;
}
h1.site-title a {
  color: #0074D9;
}
